// MAIN COLORS
@activeTab: #0291FF;
@activeFont: white;
@headerBlack: #EDEDED;
@headerPurple: #444444;
.header {
  .navbar {
    min-height: 45px;
  }
  .firstNav {
    margin: 0;
    border: none;
    height: 70px;
    background: @headerBlack;
    .firstNavRow{
      height: 100%;
    }
    .meta {
      width: 100%;
      height: 100%;
      background:rgba(255, 255, 255, 0);
      .logout{
        font-size: 25px;
        padding-top: 20px;
        margin-right: 40px;
        cursor: pointer;
      }
      img {
        display: inline-block;
        height: 47px;
        margin-top: 9px;
        margin-left: 15px;
      }
    }
  }
  .secondNav {
    margin: 0;
    border-top: none;
    height: 56px;
    z-index: 10;
    background: @headerPurple;
    .meta {
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0);
      .navbar-toggle {
        margin-bottom: 0;
        margin-top: 4px;
        background-color: @activeTab;
        color: @activeFont !important;
      }
    }
    .navbarTabs {
      @media (max-width: 767px) {
        box-shadow: none;
        padding-left: 0;
        background: @headerPurple;
        padding-top: 15px;
        border-top: none;
        padding-top: 0;
        padding-left: 14px;
        ul {
          margin-top: 0;
          .headerTab {
            &:first-child {
              margin-top: 35px;
            }
            .linkTab {
              background: transparent !important;
            }
          }
        }
      }
      ul {
        list-style-type: none;
        > .headerTab {
          &:first-child{
            border-left: 1px solid #575757;
          }
          cursor: pointer;
          width:105px;
          border-right: 1px solid #575757;
          > .linkTab {
            text-align: center;
            height: 55px;
            line-height: 55px;
            font-size: 18px;
            padding: 0;
            color: #fff;
            text-decoration: none;
          }
        }
        .activeTab {
          background-color: @activeTab;
          .linkTab {
            color: @activeFont !important;
          }
          @media (max-width: 767px) {
            background-color: @activeTab;
            .linkTab {
              color: @activeFont !important;
            }
          }
        }
      }
    }
  }
}