<section class="header" ng-show="vm.isHeaderShown()">
    <nav class="navbar navbar-default navbar-static-top firstNav">
        <div class="meta">
            <div class="container-fluid firstNavRow">
                <a href="http://www.vts.edu.rs/">
                    <img src="assets/images/logo.png" class="img-responsive" alt="VTS" title="VTŠ Kragujevac" />
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="glyphicon glyphicon-log-out logout" ng-click="vm.logout()" bs-tooltip data-placement="bottom" data-title="Izloguj se"
                            data-container="body" data-animation="am-fade-and-scale"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-lower navbar-static-top secondNav" role="navigation">
        <div class="meta">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vtsNav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="vtsNav" class="collapse navbar-collapse navbarTabs">
                    <div class="meta">
                        <ul class="nav navbar-nav">
                            <li role="presentation" class="headerTab" ng-class="{activeTab: vm.isTabActive(tab.rel)}" ng-repeat="tab in vm.tabs">
                                <a class="linkTab" ui-sref="{{tab.rel}}">{{ tab.name }}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </nav>
</section>