<div class="container-fluid studentSection">
    <div class="actionBtns">
        <button ng-hide="gridOptions.enableFiltering" ng-click="toggleFiltering()" class="btn btn-info">Uključi filtere</button>
        <button ng-show="gridOptions.enableFiltering" ng-click="toggleFiltering()" class="btn btn-info">Isključi filtere</button>
    </div>
    <div class="clear"></div>
    <div ui-grid="gridOptions" class="grid studentGrid" ui-grid-infinite-scroll></div>
</div>