.actionBtns{
    padding-top:15px;
    padding-bottom:15px;
}

.studentGrid{
    height:77vh;
    .studentGridRow{
        cursor:pointer;
    }
    .ui-grid-row:nth-child(odd):hover .ui-grid-cell{
        background:darken(#F3F3F3, 10%);
     }
    .ui-grid-row:nth-child(even):hover .ui-grid-cell{
       background:darken(#F3F3F3, 10%);
     }
}