<div class="container-fluid">
    <div class="btnGroup">
        <button ng-click="studentCrud.goBack()" class="btn btn-info">Nazad</button>
    </div>
    <form name="studentForm">
        <div class="row col-sm-12">
            <div class="form-group col-sm-4">
                <label for="brIndexa">Broj Indexa</label>
                <input type="text" ng-model="studentCrud.student.index" class="form-control" id="brIndexa" />
            </div>
            <div class="form-group col-sm-4">
                <label for="ime">Ime</label>
                <input type="text" ng-model="studentCrud.student.ime" class="form-control" id="ime" />
            </div>
            <div class="form-group col-sm-4">
                <label for="prezime">Prezime</label>
                <input type="text" ng-model="studentCrud.student.prezime" class="form-control" id="prezime" />
            </div>
        </div>
         <div class="row col-sm-12">
            <div class="form-group col-sm-4">
                <label for="semestar">Semestar</label>
                <input type="text" ng-model="studentCrud.student.semester" class="form-control" id="semestar" />
            </div>
            <div class="form-group col-sm-4">
                <label for="studGrup">Studijska grupa</label>
                <input type="text" ng-model="studentCrud.student.studGroup" class="form-control" id="studGrup" />
            </div>
            <div class="form-group col-sm-4">
                <label for="skolska">Školska</label>
                <input type="text" ng-model="studentCrud.student.skolska" class="form-control" id="skolska" />
            </div>
        </div>
         <div class="row col-sm-12">
            <div class="form-group col-sm-4">
                <label for="dug">Dug</label>
                <input type="text" ng-model="studentCrud.student.dug" class="form-control" id="dug" />
            </div>
            <div class="form-group col-sm-4">
                <label for="pol">Pol</label>
                <input type="text" ng-model="studentCrud.student.pol" class="form-control" id="pol" />
            </div>
            <div class="form-group col-sm-4">
                <label for="ind">Ind.</label>
                <input type="text" ng-model="studentCrud.student.ind" class="form-control" id="ind" />
            </div>
        </div>
         <div class="row col-sm-12">
            <div class="form-group col-sm-4">
                <label for="overa">Overa</label>
                <input type="text" ng-model="studentCrud.student.over" class="form-control" id="overa" />
            </div>
            <div class="form-group col-sm-4">
                <label for="skolskaO">ŠkolskaO</label>
                <input type="text" ng-model="studentCrud.student.skolskaO" class="form-control" id="skolskaO" />
            </div>
                <div class="form-group col-sm-4">
                <label for="fin">Fin.</label>
                <input type="text" ng-model="studentCrud.student.fin" class="form-control" id="skolskaO" />
            </div>
        </div>
    </form>
</div>