﻿﻿<div class="loginBody">
    <form role="form" class="col-xs-4 loginForm" ng-submit="login.login()">
        <div class="form-group">
            <label for="username">Korisničko Ime</label>
            <input type="text" class="form-control" id="username" ng-model="username" autofocus required>
        </div>
        <div class="form-group">
            <label for="password">Lozinka</label>
            <input type="password" class="form-control" id="password" ng-model="password" required/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Prijavi se</button>
            <a ng-click="login.openPwModal()">Zaboravio/la si lozinku?</a>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="login.openRegModal()">Registracija</button>
        </div>
    </form>
</div>