.loginBody{
    position: fixed;
    height: 100%;
    width: 100% !important;
    top: 0;
    left: 0;
    background: url(../../assets/images/Background_Image.png) no-repeat fixed right;
    background-color: #393669 !important;
    .loginForm {
        margin-left: 5%;
        margin-top: 15%;
        label {
            color: white;
            font-size: 22px;
            padding-top: 15px;
        }
        button {
            font-size: 18px;
            height: 40px;
            margin-top: 20px;
            width: 150px;
        }
        a {
            color: white;
            cursor: pointer;
            padding-left: 20px;
            vertical-align: bottom;
            &:hover {
                color: khaki;
            }
        }
    }
}

.modal {
    .modal-content {
        .modal-header {
            text-align: left;
            background-color: #337AB7;
            .modal-title {
                color: white;
                font-size: 32px;
                font-weight: 700;
            }
        }
        .modal-footer {
            border-top: none;
            text-align: right;
        }
    }
  }

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}