﻿<div class="modal" id="regModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md Absolute-Center pwModal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Resetovanje Lozinke</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="email">Unesite vaš e-mail</label>
                        <input type="email" class="form-control" id="email" ng-model="pwModal.pwChange.email" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="pwModal.changePassSuccess();$hide()">Pošalji</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">Otkaži</button>
            </div>
        </div>
    </div>
</div>