﻿<div class="modal" id="regModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md Absolute-Center regModal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registracija</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="firstName">Ime</label>
                        <input type="text" class="form-control" id="firstName" ng-model="regModal.newUser.firstName" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Prezime</label>
                        <input type="text" class="form-control" id="lastName" ng-model="regModal.newUser.lastName" required />
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input type="email" class="form-control" id="email" ng-model="regModal.newUser.email" required />
                    </div>
                    <div class="form-group">
                        <label for="username">Korisničko Ime</label>
                        <input type="text" class="form-control" id="username" ng-model="regModal.newUser.username" required />
                    </div>
                    <div class="form-group">
                        <label for="password1">Lozinka</label>
                        <input type="password" class="form-control" id="password1" ng-model="regModal.newUser.password1" required />
                    </div>
                    <div class="form-group">
                        <label for="password2">Ponovite lozinku</label>
                        <input type="password" class="form-control" id="password2" ng-model="regModal.newUser.password2" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="regModal.registrationSuccess();$hide()">Registruj se</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">Otkaži</button>
            </div>
        </div>
    </div>
</div>